@model BusinessManagement.Models.User

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/User.css" rel="stylesheet" />
</head>
<body>
    <div class="row profileTopBar">
        <div class="col-md-6 col-md-offset-3 text-center">
            <img class="profilePicture" src="~/Images/spanLogoLogin.png" />
        </div>
    </div>
    <div class="row userNameDetailsRow">
        <div class="col-md-6 col-md-offset-3 text-center">
            <p class="userName">@Model.FirstName&nbsp;@Model.LastName &nbsp;(@Model.Position.Trim())</p>
            <p class="userNameDetails">Born: @Model.DOB.Date.ToString("MM/dd/yyyy")</p>
            <p class="userNameDetails">Joined: @Model.RegDate.Date.ToString("MM/dd/yyyy")</p>
        </div>
    </div>
    <div class="row organizationRow">
        <div class="col-md-6 col-md-offset-3 text-center">
            <p class="userNameDetails"><i class="fa fa-globe"></i>&nbsp;Organization: @Model.Organization.Label</p>
        </div>
    </div>
    <div class="row" style="width: 100%">
        <div class="col-md-6 col-md-offset-2">
            <div class="panel panel-default infoPanel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTitle">EMPLOYEE BIOGRAPHY</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContact"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;About Me: </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContactHighlight">
                                @Model.AboutMe
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContact"><i class="fa fa-wrench" aria-hidden="true"></i>&nbsp;&nbsp;Skills: </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 panelTextContactHighlight" style="padding-bottom: 10px">
                            @{
                                int rand = 0;
                            }
                            @if (!string.IsNullOrEmpty(Model.Skills))
                            {
                            foreach (string skill in Model.Skills.Split(','))
                            {
                                if (rand == 0)
                                {
                                    <button type="button" class="btn btn-primary btn-sm">@skill</button>
                                }
                                else if (rand == 1)
                                {
                                    <button type="button" class="btn btn-danger btn-sm">@skill</button>
                                }
                                else if (rand == 2)
                                {
                                    <button type="button" class="btn btn-success btn-sm">@skill</button>
                                }
                                else if (rand == 3)
                                {
                                    <button type="button" class="btn btn-warning btn-sm">@skill</button>
                                }
                                else if (rand == 4)
                                {
                                    <button type="button" class="btn btn-info btn-sm">@skill</button>
                                    rand = 0;
                                }

                                rand += 1;
                            }
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContact"><i class="fa fa-trophy" aria-hidden="true"></i>&nbsp;&nbsp;Badges: </p>
                        </div>
                    </div>
                    <div class="row">
                        @for (int i = 0; i < 6; i++)
                        {
                            <div class="col-sm-2">
                                <img src="~/Images/spanLogo.png" width="100" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-default infoPanel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTitle">CONTACT INFORMATION</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContact"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;Email: </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContactHighlight">@Model.Email</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContact"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;Phone: </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContactHighlight">@String.Format("{0:(###) ###-####}", Int64.Parse(Model.Phone))</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContact"><i class="fa fa-link" aria-hidden="true"></i>&nbsp;&nbsp;Employee ID: </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContactHighlight">@Model.EmployeeID</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="width: 100%">
        <div class="col-md-6 col-md-offset-2">
            <div class="panel panel-default infoPanel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTitle">EMPLOYEE BIOGRAPHY</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContact"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;About Me: </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContactHighlight"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContact"><i class="fa fa-wrench" aria-hidden="true"></i>&nbsp;&nbsp;Skills: </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContactHighlight">Hockey, Football, Coding, Sports</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContact"><i class="fa fa-trophy" aria-hidden="true"></i>&nbsp;&nbsp;Badges: </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="panelTextContactHighlight">18291892</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-default infoPanel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="panelTitle">LINKED CONTACTS</p>
                        </div>
                    </div>
                    <div class="row contactPanel">
                        <div class="col-xs-4">
                            <img class="contactPhoto" src="~/Images/spanLogo.png" />
                        </div>
                        <div class="col-xs-8 centeredCol">
                            <p class="panelTextContactName">Jordan Pitner</p>
                        </div>
                    </div>
                    <div class="row contactPanel">
                        <div class="col-xs-4">
                            <img class="contactPhoto" src="~/Images/spanLogo.png" />
                        </div>
                        <div class="col-xs-8 centeredCol">
                            <p class="panelTextContactName">Jordan Pitner 2</p>
                        </div>
                    </div>
                    <div class="row contactPanel">
                        <div class="col-xs-4">
                            <img class="contactPhoto" src="~/Images/spanLogo.png" />
                        </div>
                        <div class="col-xs-8 centeredCol">
                            <p class="panelTextContactName">Jordan Pitner 3</p>
                        </div>
                    </div>
                    <div class="row contactPanel">
                        <div class="col-xs-4">
                            <img class="contactPhoto" src="~/Images/spanLogo.png" />
                        </div>
                        <div class="col-xs-8 centeredCol">
                            <p class="panelTextContactName">Jordan Pitner 4</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
